black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
seaborn
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
category_encoders
tqdm
typer
streamlit
dask[complete]
missingno
category_encoders
-e .
